.forgotpass-container {
    display: flex;
    flex-direction: column;
    background-color: #444;
    width: 400px;
    padding: 30px 50px 0 50px;
    border-radius: 15px;
    border: #03DAC6 2px solid;
    margin-top: 5%;
}

.forgotpass-label {
    color: rgb(255, 255, 255);
    font-size: 15px;
    letter-spacing: 2px;
}

.forgotpass-paragraph {
    font-family: 'New Tegomin', serif;
    color: rgb(226, 226, 226);
    font-size: 17px;
    margin-bottom: 20px;
}

.forgotpass-btn-cancel {
    font-family: 'Chango', cursive;
    width: 150px;
    font-size: 14px;
    background: #121212;
    color: rgb(226, 226, 226);
    border: rgb(226, 226, 226) 2px solid;
    cursor: pointer;
    padding: 2px 0px;
    transition: ease-in-out 0.3s;
    border-radius: 5px;
    text-decoration: none;
}

.forgotpass-btn-cancel:hover {
    color: #cf6679;
    border: #cf6679 2px solid;
}

.forgotpass-btn-container {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    text-align: center;
}

.forgotpass-btn-send {
    font-family: 'Chango', cursive;
    width: 190px;
    font-size: 16px;
    background: #121212;
    color: rgb(226, 226, 226);
    border: rgb(226, 226, 226) 2px solid;
    cursor: pointer;
    padding: 2px 0px;
    transition: ease-in-out 0.3s;
    border-radius: 5px;
}

.forgotpass-btn-send:hover {
    color: #03DAC6;
    border: #03DAC6 2px solid;
}

.forgotpass-input-text {
    width: 99%;
    font-size: 18px;
    transition: ease-in-out 0.3s;
}

.forgotpass-input-text:focus {
    background: rgb(240, 240, 240);
}

.forgotpass-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}